<style type="text/css">
#footer {
  background: none repeat-x scroll left top #222;
  color: #fff;
  float: left;
  font-size: 16px;
  font-weight: lighter;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  margin-top: 30px 
/*  position: absolute;bottom: 0px;*/
}

/*body {
    margin-bottom: 130px;
}
*/

</style>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
               Copyright &copy; 2016 refer99 Admin Dashboard
            </div>

        </div>
    </div>
</footer>