.acme-navbar-text{
  color: white;
}
/*
.navbar-inverse {
  background-color: #337ab7 !important;
    border-color: #ff3b69 !important;
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff !important;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}*/

.modal-inputs_penal{width: 49%; padding: 8px 8px; border: 1px solid #ccc; margin-bottom: 15px; }



.profile_page_penal {text-align: center;
    width: 50%;
    border: 1px solid #ccc;
    margin: auto;
    padding: 51px;
}
.profile_page_penal h2 {
  font-size: 22px;
  margin: 0;
  padding: 0 0 15px;
  text-transform: uppercase;
}

.form-horizontal .control-label {
  font-size: 14px;
  margin-bottom: 0;
  padding: 0 0 8px 17px;
  text-align: left;
}
