/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */

$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */

// bower:scss
// endbower
.get button {background: #3A5999; border: 1px solid #3A5999; color: #FFF; font-size: 18px; text-align: center; padding: 0px 0px; height: 41px; width: 100% !important; margin: 0px 0px 0px 0px; letter-spacing: 1px; font-weight: 300; font-family: 'Open Sans', sans-serif; } .privacy_a {background: #f9f9f9; height: 295px; padding: 10px; border-color: #fff; overflow: hidden !important; box-shadow: 0 1px 8px 0 rgba(235, 235, 235, .4)!important; }
.privacy_a p {font-size: 13px!important; padding: 5px; margin: 0px; line-height: 23px; }
.privacy_b {background: #f9f9f9; height: 295px; padding: 10px; border-color: #fff; overflow: hidden !important; box-shadow: 0 1px 8px 0 rgba(235, 235, 235, 0.4)!important; }
.privacy_b p {font-size: 13px!important; padding: 5px; margin: 0px; line-height: 23px; }
.browsehappy {margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }
.thumbnail {height: 200px;}
img.pull-right {width: 50px; }
body {margin: 0px; padding: 0px; }
.piza_coupon {background: rgba(0, 0, 0, 0) url("../img/Rectangle@x.png") no-repeat scroll center top / cover; height: 335px; text-align: center; }
.piza_coupon h1 {color: #ffffff; font-family: "Roboto", sans-serif; font-size: 34px; font-weight: bold; line-height: 39px; margin: 0; padding: 84px 0 0; }
.piza_coupon p {color: #ffffff; font-family: "Open Sans", sans-serif; font-size: 15px; font-weight: bold; line-height: 24px; margin: 0; padding: 0; }
.piza_coupon h2 {color: #2b3b4e; font-family: "Open Sans", sans-serif; font-size: 33px; font-weight: 600; letter-spacing: 1px; margin: 0; padding: 100px 0 0; }
.piza_coupon h4 {color: #2b3b4e; font-size: 19px; font-weight: bold; letter-spacing: 1px; margin: 0; padding: 16px 0 25px; }
.piza_coupon h5 {color: #a0a0a0; font-size: 21px; font-weight: 600; letter-spacing: 1px; line-height: 35px; margin: 0; padding: 1px 0 3px; }
.piza_screen {padding: 20px 0 0; text-align: center; }
.piza_screen h2 span {color: #ff3b69; font-family: "Roboto", sans-serif; padding: 0 0 0 10px; }
.whtasapp button {background: #00cc87 none repeat scroll 0 0; border: 1px solid #00cc87; color: #ffffff; font-family: "Roboto", sans-serif; font-size: 19px; font-weight: 500; height: 55px; letter-spacing: 1px; margin: 25px 0 22px; padding: 0; text-align: center; width: 340px !important; }
.share_background {background: #f3f3f2 none repeat scroll 0 0; padding: 0 14px; }
.whtasapp.text-center > p {font-size: 16px!important; padding: 13px 0px 10px 0px; }
.piza_coupon {background: rgba(0, 0, 0, 0) url("../img/Rectangle@2x.png") no-repeat scroll center top; height: 600px; text-align: center; }
.butn button{ background: #00cb87; border: 1px solid #00cb87; color: #FFF; width: 130px; padding: 8px 20px; margin: 10px 10px 10px 5px;  text-align: center;}
.through h4{  font-size: 18px; margin: 0px; padding: 10px 0px 10px 0px; }
.submit_btn input{ border:1px solid #b1b1b1; height: 37px; padding: 4px 6px; color: #333; width: 300px; }
.submit_btn button{background: #00cb87; border: 1px solid #00cb87; color: #FFF; width: 130px; padding: 8px 20px; margin: 10px 10px 10px 5px;  text-align: center;  }
.submit_btn select{ background: #f1f1f1; color: #333; width: 150px;  border: 1px solid #b1b1b1; padding: 4px 0px; height: 37px; }
.left_textAlign{ text-align: left !important; }
.center_textAlign{ text-align: center !important; }
select.ADD_NUMBER_DROP { float: left; margin-bottom: -1px; width: 23%; }
.through {float: left; width: 100%; }
.butn {float: left; width: 100%; }
.butn button {background: #00cb87 none repeat scroll 0 0; border: 1px solid #00cb87; color: #fff; float: left; font-size: 21px; margin: 0 10px 10px 0; padding: 12px 0; text-align: center; width: 49%; }
.PHONE_NO_ADDD {float: left; margin-bottom: 25px; width: 77%; }
.EAMIll_ADDD {float: left; margin: 0 0 25px; width: 100%; }
.submit_btn {float: left; margin: 15px 0 5px; width: 100%; }
.PHONE_NO_ADDD input {border: 1px solid #b1b1b1; color: #333; height: 37px; padding: 4px 6px; width: 100% }
.EAMIll_ADDD input {border: 1px solid #b1b1b1; color: #333; height: 37px; padding: 4px 6px; width: 100% }
.butn button:nth-child(2) {margin: 0; width: 49%; }
.containerhghg {
  padding: 0 23%;
}

/*.get_one h1 {color: #333333; font-size: 50px; font-weight: normal; line-height: 51px; margin: 0; padding: 34px 0 0 10px; text-align: left; text-transform: uppercase;
}*/

.shar_FB_BTn{display: block; text-align: center; background: #3A5999; border: 1px solid #ccc; padding: 10px 30px; margin: auto; color: #fff; font-size: 20px;}

@media(min-width: 300px) and (max-width:480px) {
.piza_coupon h5 {font-size: 15px; }
.piza_coupon h2 {padding: 78px 0 0; }
.get_one h3 {font-size: 15px !important; line-height: 26px !important; margin: 0 0 10px !important; padding: 5px 0 0 0 !important; text-align: center !important; }
.get_one h1 {padding: 0; text-align: center !important; }
.middle_content_CUPON_left span { font-size: 19px !important;}
.text_cupn {  font-size: 13px !important;  font-weight: 600 !important;}
/*.logo {width: 100% !important; }*/
.middle_content_CUPON_right > p {font-size: 12px !important; font-weight: 400; padding: 0 !important;}
.middle_content_CUPON_right:nth-child(1) {margin: 30px 0 0 !important; }
.middle_content_CUPON_right {padding: 0 !important; margin-bottom: 0px !important; }
.middle_content_CUPON_right span {font-size: 10px !important; margin: 0 7px 0 0; padding: 7px 5px !important; }
.fifty {margin: 0 0 15px !important; width: 100% !important; }
.terms {font-size: 13px !important; padding: 0 !important; }
.terms span {font-size: 16px !important; }
.top_hder {margin: 10px 0 !important; }

.butn button {
  font-size: 16px;
  width: 46%;
}
.submit_btn {
  margin: 15px 0 0;
}
.containerhghg {
  padding: 0 0%;
}

}
@media(min-width: 481px) and (max-width:640px) {
.piza_coupon h5 {font-size: 15px; }
.piza_coupon h2 {padding: 78px 0 0; }
.get_one h3 {font-size: 15px !important; line-height: 26px !important; margin: 0 0 10px !important; padding: 5px 0 0 0 !important; text-align: left !important; }
.get_one h1 {padding: 0; text-align: center !important; }
.middle_content_CUPON_left span { font-size: 19px !important;}
.text_cupn {  font-size: 13px !important;  font-weight: 600 !important;}
/*.logo {width: 100% !important; }*/
.middle_content_CUPON_right > p {font-size: 12px !important; font-weight: 400; padding: 0 !important;}
.middle_content_CUPON_right:nth-child(1) {margin: 30px 0 0 !important; }
.middle_content_CUPON_right {padding: 0 !important; margin-bottom: 0px !important; }
.middle_content_CUPON_right span {font-size: 10px !important; margin: 0 7px 0 0; padding: 7px 5px !important; }
.fifty {margin: 0 0 15px !important; width: 100% !important; }
.terms {font-size: 13px !important; padding: 0 !important; }
.terms span {font-size: 16px !important; }
.top_hder {margin: 10px 0 !important; }
.butn button {
  font-size: 16px;
  width: 48%;
}
.submit_btn {
  margin: 15px 0 0;
}
.containerhghg {
  padding: 0 0%;
}
}

@media only screen and (min-device-width : 360px) and (max-device-width : 730px) and (orientation : landscape){
.middle_content_CUPON_left span {
  font-size: 30px !important;
}
.text_cupn {
  font-size: 24px !important;
  font-weight: 400 !important;
}
.left_textAlign {
  text-align: center !important;
}
.get_one h3 {
  text-align: center !important;
}
.butn button {
  font-size: 16px;
  width: 48%;
}
.submit_btn {
  margin: 15px 0 0;
}
.containerhghg {
  padding: 0 0%;
}

}



@media only screen and (min-width:641px) and (max-width: 768px){
.middle_content_CUPON_left {padding: 10px 20px !important; }
.text_cupn {font-size: 16px !important; }
.middle_content_CUPON_left span {font-size: 19px !important; }
.middle_content_CUPON_right span {font-size: 15px !important; }
.middle_content_CUPON_right > p {font-size: 15px !important; padding: 4px 0 !important; }
.butn button {
  font-size: 16px;
  width: 49%;
}
.submit_btn {
  margin: 15px 0 0;
}
.butn button:nth-child(2) {
  margin: 0;
  width: 49%;
}
.containerhghg {
  padding: 0 0%;
}
}
@media only screen and (min-width:760px) and (max-width: 1024px){
.middle_content_CUPON_left span {
  font-size: 28px !important;
}
.butn button:nth-child(2) {
  margin: 0;
  width: 49%;
}
.submit_btn {
  margin: 15px 0 0;
}
.butn button {
  font-size: 16px;
  width: 49%;
}
.submit_btn {
  margin: 15px 0 0;
}

}

/*@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,200,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);


[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

section #services {
    text-align: center;
    transform: translatez(0);
}

section #services h2 {
    margin: 80px 0px 40px;
    color: #fff;
    font-size: 2.4em;
    font-family: 'Raleway Dots', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

section #services li {
    width: 95px;
    height: 100px;
    display: inline-block;
    border-radius: 14px;
    margin: 20px;
    list-style: none;
    border: 1px solid #ccc;
}

section #services li a {
    text-decoration: none;
}

section #services li div {
    width: 95px;
    height: 100px;
    color: #74d4b3;
    font-size: 3.4em;
    text-align: center;
    line-height: 100px;
    background-color: transparent;
    transition: all 0.5s ease;
}

section #services li div:hover {
    transform: rotate(360deg);
    border-radius: 100px;
}

section #services li span {
    width: 120px;
    height: 20px;
    display: block;
    padding: 15px 0px;
    color: #fff;
    font-family: 'Advent Pro', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
}*/
    .SECOND_SCREEn_fixed {
    /*position: fixed !important;*/
    top: 0px !important;
    bottom: 0;
    width: 100%;
}
.Offer_BG_SCREEN {background: #f2f2f2 !important; }
.OFFER_CUPEN_img {width: 100%; text-align: center; padding: 0px 0; display: block; }
.OFFER_CUPEN_img > img {max-width: 100%; }
.SECOND_SCREEn .OFFER_CUPEN_img > img {max-width: 35%; }
.Offer_ZONE_CONTr {padding: 0 7%; }
.OFER_COUPEN {text-align: center; padding: 25px 0; font-size: 22px; font-weight: 100; line-height: 30px; }
.SECOND_SCREEn .OFER_COUPEN {
    text-align: center;
    padding: 13px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.SECOND_SCREEn .OFER_COUPEN_normal {text-align: center; padding: 15px 0; font-size: 18px; font-weight: 400; line-height: 28px; }
.SECOND_SCREEn {
    margin-bottom: 20px;
}

.OFER_COUPEN_normal {text-align: center; padding: 25px 0; font-size: 18px; font-weight: 100; line-height: 28px; }
.OFFER_CUPEN_CODE {text-align: center; background: #fff; border: 1px double #ccc; color: #000 !important; padding: 5px 0; font-size: 18px; font-weight: 600; line-height: 26px; }
.OFFER_PGE_FOOTER {
    background: #257fe0 !important;
    color: #fff !important;
    width: 100%;
    min-height: 40px;
    position: fixed !important;
    bottom: 0px !important;
}

.OFFER_PGE_FOOTER_tittle {
    color: #fff !important;
    font-weight: 500;
    font-size: 20px !important;
    line-height: 40px;
}
.Offer_ZONE_CONTr .card,
.list-inset {overflow: hidden; margin: 20px 0px !important; border-radius: 2px; background-color: #fff; }
.REFERAL_SEND_LISTING_peNAL {background: #fff; float: left; width: 100%; margin-top: 0px; }
h3.INVIT_FRNDS {background: #939393; color: #fff; padding: 10px 15px; text-align: left; float: left; margin: 24px 0 0 0; font-size: 19px; font-weight: 100; width: 100%; }
h3.INVIT_FRNDS_let {background: #939393; color: #fff; padding: 10px 15px; text-align: left; float: left; margin: 0; font-size: 19px; font-weight: 100; width: 100%; }
a.REFER_SEND_ICON_penal {padding: 10px 12px; display: inline-block; float: left; width: 100%; border-bottom: 1px double #ccc; }
.REFERAL_SEND_LISTING {margin-bottom: 0px; float: left; width: 100%;     /*position: fixed !important;    bottom: 0px !important;*/ }
.REFER_SEND_ICON_next {float: right; width: 30px; height: 30px; padding: 7px 0; }
.REFER_SEND_text {padding: 5px 0; font-size: 14px; color: #000; display: inline-block; }
.REFER_SEND_ICON {float: left; height: 30px; width: 37px; }
.Offer_ZONE_CONTr1 .card,
.list-inset {overflow: hidden; margin: 20px 0px; border-radius: 2px; background-color: #fff; }
.Offer_ZONE_CONTr1 .card {padding-top: 1px; padding-bottom: 1px; box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3); }
.OFER_COUPEN_question {font-size: 14px; border-bottom: 0px solid #ccc; color: #fff; margin: 20px 0; padding: 10px 8px; background: #ff3b69; }
.Offer_ZONE_CONTr .item {border-color: #ccc; background-color: #fff; color: #535353; position: relative; z-index: 2; display: block; margin: -1px; padding: 9px 8px; border-width: 1px; border-style: solid; font-size: 14px; }
.Offer_ZONE_CONTr .item-checkbox .checkbox {position: absolute; top: 50%; right: 8px; left: inherit; z-index: 3; margin-top: -21px; width: 13%; }
.Offer_ZONE_CONTr .checkbox input,
.checkbox-icon {position: relative; width: 20px; height: 20px; display: block; border: 0; background: transparent; cursor: pointer; -webkit-appearance: none; }
.Offer_ZONE_CONTr .checkbox input:after,
.checkbox-icon:after {-webkit-transition: opacity 0.05s ease-in-out; transition: opacity 0.05s ease-in-out; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); position: absolute; top: 33%; left: 25%; display: table; width: 9px; height: 6px; border: 1px solid #fff; border-top: 0; border-right: 0; content: ' '; opacity: 0; }
.Offer_ZONE_CONTr .item-content.disable-pointer-events {display: block; clear: both; width: 87%; }
.Discount_TYpe {
    padding: 1px 8px !important;
}
.rm_border {
border-top: 0px !important;
}

.SOCIL_shre {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    width: 100%;
    background-clip: padding-box;
    outline: 0;
    float: left;
}


// bower:scss
// endbower