<div>
    <acme-navbar />
</div>

<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
<h2>Animated Accordion</h2>
<p>Click on the buttons to open the collapsible content.</p>

<button class="accordion"><span class="user">User Name....</span> <span class="catogry">Category</span></button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <a href="#" class="one">Button</a> <a href="#" class="two">Button</a>
</div>

<button class="back accordion"><span class="user">User Name</span> <span class="catogry">Category</span></button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a href="#" class="one">Button</a> <a href="#" class="two">Button</a>

</div>

<button class="accordion"><span class="user">User Name</span> <span class="catogry">Category</span></button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a href="#" class="one">Button</a> <a href="#" class="two">Button</a>

</div>       
      
    
    <!--/panel-group-->


			</div>
		</div>
	</div>
</section>

<div>
    <acme-footer /> 
</div>

<style>
button.accordion {
    background-color: #00CB87;
    color: #FFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border: 1px solid #00CB87;
    border-radius: 4px;
}


button.accordion.active, button.accordion:hover {
    background-color: #00CB87;
}

.back {
	background-color: #FF3B69!important;
	border:1px solid #FF3B69!important;

}

.user{
	font-size: 15px;
	float: left;
	padding: 0px 20px 0px 100px;
}

.catogry{
	font-size: 15px;
	float: right;
	padding: 0px 100px 0px 20px;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p {
    font-size: 16px!important;
    line-height: 25px;
    padding: 10px 0px 0px 0px;
}

a.one{
	background: #5B5A63;
	font-size: 14px;
	text-align: center;
	padding: 11px 30px;
	float: left;
	color: #FFF;
	margin:0px 10px 10px 10px; 
	border-radius: 4px;
	text-decoration: none;
	height: 40px;

}
a.one:hover{ 
text-decoration: none;}

a.two{
	background: #FF3B69;
	font-size: 14px;
	text-align: center;
	padding: 11px 30px;
	float: left;
	color: #FFF;
	margin:0px 10px 10px 10px; 
	border-radius: 4px;
	text-decoration: none;
	height: 40px;

}
a.two:hover{ 
text-decoration: none;}
</style>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
  	  panel.style.maxHeight = null;
    } else {
  	  panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>