  <style type="text/css">
.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #00CC87;
}

.login-header {
  background: #00CC87;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #00CC87;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #00CC87;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #00CC87;
}

.logo_login{    text-align: center;}

.logo_login h2{    text-align: center;
  
    text-transform: uppercase; color: #FF3B69;
}
}}
  </style>


  <div class="login">
<div class="logo_login"><!-- <h2>viraldi</h2> --><img src="img/logo_blue.png"></div>
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Reset Password</h2>

  <form class="login-container" name="formReset">
    <div class="alert alert-success" ng-if="resetpassword.successMessage">
              <!-- <strong>Success!</strong> -->{{resetpassword.successMessage}}
            </div>
            <div class="alert alert-danger" ng-if="resetpassword.errorMessage">
              <!-- <strong>error!</strong> -->{{resetpassword.errorMessage}}
            </div>
    <p><input type="password" placeholder="New Password" ng-model="newPassword" required></p>
    <p><input type="password" placeholder="Confirm Password" ng-model="confirmNewPassword" required></p>
    <p><input type="submit" ng-click="formReset.$valid && resetpassword.updatePassword(newPassword,confirmNewPassword)" value="Submit"></p>
    <p><center><a href="#/login">Click here to login</a></center></p> 
  </form>
</div>